
  <body>
    
<main>
<form [formGroup]="pokemonForm" method="post" (ngSubmit)="onSubmit()" >

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <ng-container *ngIf="this.pokemon.id !==0">
        
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{pokemon.image.sprites.front_default}}" class="card-img-top "  alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-capitalize">{{pokemon.id}}. {{pokemon.name}}</h5>
                <p class="card-text">Weight: {{pokemon.weight}}</p>
                <p class="card-text">Types: </p>
                <ul >
                  <li *ngFor="let item of pokemon.types" >{{item.type.name}}</li>
                </ul>
                <p class="card-text">Abilities: </p>
                <ul >
                  <li *ngFor="let item of pokemon.abilities" >{{item.ability.name}}</li>
                </ul>
                <button class="btn btn-primary" type="button"(click)="open(mymodal)" >Show details</button>
              </div>
            </div>
          </div>
        </div>
                <!--div class="card" style="width: 18rem;"data-toggle="modal" data-target="#Agregar_Beneficiarios">
                  <img src="{{pokemon.image.sprites.front_default}}"  class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-capitalize">{{pokemon.id}}. {{pokemon.name}}</h5>
                    <p class="card-text">Weight: {{pokemon.weight}}</p>
                    <p class="card-text">Types: </p>
                    <ul >
                      <li *ngFor="let item of pokemon.types" >{{item.type.name}}</li>
                    </ul>
                    <p class="card-text">Abilities: </p>
                    <ul >
                      <li *ngFor="let item of pokemon.abilities" >{{item.ability.name}}</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Show details</a>
                  </div>
                </div-->
      </div>
    </ng-container>
    <ng-container *ngIf="this.pokemon.id ===0">
      <div class="col-10 col-sm-8 col-lg-6">

      </div>
    </ng-container>

      
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Pokedex Ultra 9000</h1>
        <p class="lead">The fastest way to find your pokemon</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control"formControlName="pokeInput" name="pokeInput" placeholder="Pokemon´s name" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" (click)="getPokemon(this.getInputValue())" id="button-addon2">Search</button>
          </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>
</form>
 
  <div class="b-example-divider mb-0"></div>
</main>



      
  </body>















  <ng-template #mymodal let-modal>
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Pokemon Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="{{pokemon.image.sprites.front_default}}" class="rounded float-start" alt="...">
  <img src="{{pokemon.image.sprites.back_default}}" class="rounded float-end" alt="...">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <ul >
          <p class="card-text">Description: {{pokemon.description}}</p>

      <p class="card-text">Evolutions: </p>
          <li *ngFor="let item of pokemon.evolutions" >{{item}}</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Weight: {{pokemon.weight}}</p>
        <p class="card-text">Types: </p>
        <ul >
          <li *ngFor="let item of pokemon.types" >{{item.type.name}}</li>
        </ul>
        <p class="card-text">Abilities: </p>
        <ul >
          <li *ngFor="let item of pokemon.abilities" >{{item.ability.name}}</li>
        </ul>
      </div>
    </div>

  </div> 
</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"  (click)="modal.close()">Close</button>
    </div>
  </ng-template>

 